/* Preloader Style */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background-color: #5072c8;
    background-image: url(../assets/bars.svg);
    background-repeat: no-repeat;
    background-position: center;
}

#preloader-none {
    opacity: 0;
}

/* Page container Style */
.page-container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: #5072c8;
    background-image: linear-gradient(
            0deg,
            #4255a2 0%,
            #5072c8 34%,
            #7c99e7 100%
    );
}

/* List container Style */
.card-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card-detail-list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.filter-header {
    padding: 10px 10px 5px;

    display: flex;
    justify-content: end;
}

.filter-header input {
    min-width: 200px;
    background: #fff;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    margin: 0 0 8px 0;
    padding: 12px 21px;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.8px;
    transition: 0.3s ease-in-out;
}

/* Company card Style */
.company-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    padding: 0;
    margin: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.company-card img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px 5px 0 0;
}

.company-card h2 {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    color: #333;
}

/* Product card Style */
.product-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 95%;
    min-width: 560px;
    padding: 0;
    margin: 15px auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.product-card-info {
    display: flex;
    flex-direction: row;
    height: 160px;
    width: 100%;
    cursor: pointer;
}

.product-card-info img {
    width: 250px;
    height: 160px;
    border-radius: 5px 0 0 5px;
}

.product-card-info-detail {
    width: calc(100% - 250px);
}

.product-card-info-detail h2 {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: left;
    color: #333;
}

.product-card-info-detail p {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1rem;
    font-weight: 400;
    text-align: justify;
    color: #333;
}

.product-card-info-detail h4 {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1rem;
    font-weight: 600;
    text-align: left;
    color: #333;
}

/* Paragraph */
.paragraph-wrapper {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.paragraph-wrapper p {
    margin: 0;
}

.show-more-button {
    display: block;
    margin-top: 10px;
    cursor: pointer;
}

/* Facebook Ads List*/
.facebook-ads-container {
    margin: auto;
    width: 99%;
}

.facebook-ads-header {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 10px;
}
.facebook-ads-header::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px; /* Ajusta el grosor de la barra */
    background-color: rgba(187, 184, 184, 0.41); /* Ajusta el color de la barra */
}


.facebook-ads-header h3 {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: left;
    color: #333;
    width: calc(100% - 150px);
}

.facebook-ads-header button {
    width: 60px;
    margin: auto;
}

.facebook-ads-list {
}
