/* Preloader Style */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background-color: #30444F;
    background-image: url(../assets/bars.svg);
    background-repeat: no-repeat;
    background-position: center;
}

#preloader-none {
    opacity: 0;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #30444F;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 35px;
}

.header-simple {
    flex-direction: row;
}

.header-complex {
    flex-direction: row-reverse;
}

.back-button {
    color: #98DAD8;
    background: transparent;
    border: 0;
    border-radius: 20px;
    padding-top: 8px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 6px;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0.8px;
    transition: 0.3s ease-in-out;
}

.back-button:hover {
    color: #e5e5e5;
}

/* Page container Style */
.page-container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: rgba(134, 143, 145, 0.3);

}

/* List container Style */
.card-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card-detail-list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.filter-header {
    padding: 10px 10px 5px;
    display: flex;
    justify-content: end;
}

.filter-header input {
    min-width: 200px;
    background: #fff;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    margin: 0 0 8px 0;
    padding: 12px 21px;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.8px;
    transition: 0.3s ease-in-out;
}

.item-input {
    padding: 10px 10px 5px;
    min-width: 350px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.item-input input {
    min-width: 300px;
    background: #fff;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    margin: 0 0 8px 0;
    padding: 12px 21px;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.8px;
    transition: 0.3s ease-in-out;
}

.item-input select {
    min-width: 300px;
    width: 100%;
    background: #fff;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    border-right-width: 15px;
    margin: 0 0 8px 0;
    padding: 12px 21px;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.8px;
    transition: 0.3s ease-in-out;
}

.item-button {
    padding: 10px 10px 5px;
    margin: auto;
    display: flex;
    justify-content: center;
}
.item-button-s button {
    width: 100px !important;
}
.item-button-m button{
    width: 150px !important;
}
.item-button-l button{
    width: 350px !important;
}
.item-button-primary button{
    background-color: #30444F;
    color: #fff;
}
.item-button-danger button{
    background-color: #e74c3c;
    color: #fff;
}
.item-button-success button{
    background-color: green;
    color: #fff;
}

.item-button button {
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    margin: 0 0 8px 0;
    padding: 12px 21px;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.8px;
    transition: 0.3s ease-in-out;
}

.item-button button:hover {
    background-color: #98DAD8;
    color: white;
}

/* Company card Style */
.company-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    padding: 0;
    margin: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.company-card img {
    width: 100%;
    border-radius: 5px 5px 0 0;
    object-fit: cover;
    border-style: none;
    overflow: clip;
}

.company-card h2 {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    color: #333;
}

/* Product card Style */
.product-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 95%;
    min-width: 560px;
    padding: 0;
    margin: 15px auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-card:hover {
    box-shadow: 5px 5px 4px #98DAD8;
}

.product-card-info {
    display: flex;
    flex-direction: row;
    height: 160px;
    width: 100%;
    cursor: pointer;
}

.product-card-info img {
    width: 250px;
    height: 160px;
    border-radius: 5px 0 0 5px;
}

.product-card-info-detail {
    width: calc(100% - 250px);
}
.product-card-info-detail-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product-card-info-detail h2 {
    padding-left: 20px;
    padding-right: 20px;
    margin: auto 0;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: left;
    color: #333;
}

.product-card-info-detail p {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1rem;
    font-weight: 400;
    text-align: justify;
    color: #333;
}

.product-card-info-detail h4 {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1rem;
    font-weight: bold;
    text-align: left;
    color: #30444F;
}

/* Paragraph */
.paragraph-wrapper {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.paragraph-wrapper p {
    margin: 0;
}

.show-more-button {
    display: block;
    margin-top: 10px;
    cursor: pointer;
}

/* Facebook Ads List*/
.facebook-ads-container {
    width: 100%;
}

.facebook-ads-header {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 55px;
    padding-bottom: 10px;
    background-color: #eeeeee;
}

.facebook-ads-header::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px; /* Ajusta el grosor de la barra */
    background-color: rgba(187, 184, 184, 0.41); /* Ajusta el color de la barra */
}


.facebook-ads-header h3 {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: left;
    color: #333;
    width: calc(100% - 150px);
}

.facebook-ads-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.facebook-ads-item {
    margin: 10px;
    border: 2px dashed rgba(183, 183, 183, 0.5);
}
.facebook-ads-item-options{
    background: #eeeeee;
    display: flex;
    flex-direction: row;
}

/* Create Ads */
.create-ad-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 50px;
}

.create-ad-mockup-container {
    min-width: 600px;
    max-width: 45%;
    margin: auto;
}

.create-ad-form-content {
    min-width: 600px;
    max-width: 45%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.create-ad-form-content p{
    width: 100%;
    justify-content: center;
    font-family: -apple-system, system-ui, Arial, sans-serif;
    font-size: 12px;
    line-height: 1.34;
    -webkit-font-smoothing: antialiased;
}

.p-error{
    color: #e74c3c;
}
.p-success{
    color: green;
}

/* Facebook Ad */
.facebook-ad-container {
    width: 100%;
    height: auto;
    color: #1c1e21;
    display: flex;
    justify-content: center;
    font-family: -apple-system, system-ui, Arial, sans-serif;
    font-size: 12px;
    line-height: 1.34;
    -webkit-font-smoothing: antialiased;
}

.facebook-ad-section {
    background-color: #fff;
    border: 1px solid #dddfe2;
    border-radius: 3px;
    box-shadow: none;
    flex-basis: 500px;
    width: 500px;
}

.facebook-ad-header {
    align-items: flex-start;
    display: flex;
    padding: 6px 6px 0 6px;
}

.logo-container {
    max-width: 60px;
    margin: 5px 15px 5px 5px;
}

.company-container {
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
    margin: auto;
}

.company-container-ad {
    flex-direction: column;
    margin-top: -5px;
    margin-bottom: 5px;
}

.company-editable {
    display: flex;
    font-size: 14px;
    font-weight: 600;
    line-height: 19.32px;
    margin-top: 9px;
    margin-bottom: 5px;
    overflow-wrap: break-word;
    text-decoration: none;
}

.sponsored {
    align-items: center;
    color: #65676b;
    display: flex;
    font-size: 13px;
    font-stretch: 100%;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2308;
    margin-top: 5px;
    margin-bottom: 5px;
    overflow-wrap: break-word;
    text-decoration: none;
    word-break: break-word;
}

.primaryText {
    color: #65676b;
    display: flex;
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    margin: -5px 0;
    overflow: hidden;
    padding: 16px 16px 16px 16px;
    word-break: break-word;
}

.card-media-content {
    height: 100%;
    max-height: 200px;
    width: 100%;
    object-fit: cover;
    border-style: none;
    overflow: clip;
}

.logo-image {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-style: none;
    overflow: clip;
    border-radius: 50px;
}

.image {
    height: 100%;
    object-fit: cover;
    width: 100%;
    border-style: none;
    overflow: clip;
}

.preview-below-image {
    align-items: center;
    background-color: #F0F2F5;
    border-bottom: 1px solid #dddfe2;
    display: flex;
    margin: 0;
    padding: 12px 16px;
    position: relative;
    max-width: 100%;
}

.content {
    display: block;
    flex: 1;
    overflow: hidden;
    padding: 0 6px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.link-displayLink {
    color: #65676b;
    display: flex;
    font-size: 13px;
    line-height: 1.2308;
    overflow: hidden;
    padding: 0 0 5px;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
    max-width: 100%;
}

.link-headline-description {
    font-size: 17px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.cta {
    display: block;
    margin-left: 6px;
    padding: 0 6px 0 16px;
    background-repeat: no-repeat;
    box-sizing: inherit;
}

.fb-button {
    align-items: center;
    background-color: #E4E6EB;
    border: 0;
    border-radius: 6px;
    color: #65676b;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    flex-wrap: nowrap;
    font-size: 15px;
    font-weight: 600;
    height: 36px;
    justify-content: center;
    letter-spacing: normal;
    line-height: 19px;
    overflow-wrap: break-word;
    padding: 0 12px;
    position: relative;
    text-align: start;
    text-decoration: none;
    white-space: nowrap;
}


.fb-preview-actions {
    align-items: center;
    color: #616770;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    font-size: 13px;
    order: 1;
    padding: 6px 14px;
}

.fb-preview-actions button {
    background-color: transparent;
    border-style: none;
    color: inherit;
    font: inherit;
}

.fb-action {
    align-items: center;
    border-radius: 5px;
    display: flex;
    flex: 1 100%;
    font-weight: bold;
    height: 32px;
    justify-content: center;
    padding: 0 2px;
}

/* Delete Modal Confirm */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    text-align: center;
}

.modal-message {
    font-size: 18px;
    margin-bottom: 20px;
}

.modal-buttons {
    display: flex;
    justify-content: space-evenly;
}

.modal-confirm,
.modal-cancel {
    margin: 0 10px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.modal-confirm {
    background-color: #e74c3c;
    color: white;
}

.modal-cancel {
    background-color: #bdc3c7;
    color: #2c3e50;
}
